.contents_block {
    width: 960px;
    margin: auto;
    margin-top: 32px; 
    margin-bottom: 32px; 
    display: grid;
    grid-template-columns: repeat(8, 120px);
    grid-template-rows: repeat(20, 100px);
}