.contents_block {
    width: 960px;
    margin: auto;
    margin-top: 32px; 
    margin-bottom: 32px; 
    display: grid;
    grid-template-columns: repeat(16, 60px);
    grid-template-rows: repeat(40, 50px);
}